<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/signup_page" method="post">
    <table>
        <tr><td colspan="2">signup_page</td> </tr>
        <tr>
            <td>First Name:</td>
            <td>
                <input type="text" name="signup_first_name" pattern="[A-Za-z ]+" title="please enter only English letters" required>
            </td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>
                <input type="text" name="signup_last_name" pattern="[A-Za-z ]+" title="please enter only English letters" required>
            </td>
        </tr>
            <tr>
            <td>Email</td>
            <td>
                <input type="email" name="email_user" required>
            </td>
        </tr>
            <tr>
            <td>Phone</td>
            <td>
                <input type="tel" name="phone_number_user" title="at least 1 phone number required"required>
                <input type="tel" name="phone_number_user" >
                <input type="tel" name="phone_number_user" >
            </td>
        </tr>
        <tr>
            <td>Passport Code</td>
            <td>
                <input type="text" name="passport_code" required>
            </td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td>
                <input type="date" name="birth_date" required>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" name="password_user" required>
            </td>
        </tr>
        <tr>
            <td> Confirm Password</td>
            <td>
                <input type="password" name="confirm_password_user" required>
            </td>
        </tr>
    </table>
    <input type = "submit" value="submit">
</form>
</body>
</html>